@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/cerberus';

.h1 {
	font-size: 2rem;
	margin: 0.5rem 0 1rem;
}

.h2 {
	font-size: 1.7rem;
	margin: 0.5rem 0 1rem;
}
